<!doctype html>
<html>
  <head>
<link rel="stylesheet" type="text/css" href="style.css">
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


  </head>

  <body ng-app  = "Todo">
    <div class="page-container" ng-controller="TodoCtrl">
    <h2>Todo</h2>

    <h3>Incomplete Tasks</h3>
    <ul class="todo-list" ng-repeat="todo in todos track by $index" ng-show="!todo.isComplete">
      <li>
       <span>{{ todo.text }}</span>
        <button ng-if="!todo.isComplete" class="bt bt-achieve" ng-click="done(todo)" id="complete">Complete</button>

      </li>
      </ul>
      <ul class="add-todo">
          <li>

         <input id="tod" type="text" class="txt" placeholder="New Todo"
           ng-model="todoText" ng-keyup="add($event)" />
          </li>
        </ul>

      <h3>Complete Tasks</h3>
        <ul class="todo-list" ng-repeat="todo in todos track by $index" ng-show="todo.isComplete" >
     <li>
       <span>{{ todo.text }}</span>
        <button ng-if="todo.isComplete" class="bt bt-achieve" ng-click="undone(todo)" id="complete" >Incomplete</button>
     </li>


 </div>


 <script src="app.js"></script>
</body>
</html>
