<!doctype html>
<html>
  <head>
<link rel="stylesheet" type="text/css" href="style.css">
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
  </head>

  <body ng-app  = "Todo">
    <div class="page-container" ng-controller="TodoCtrl">
    <h2>Todo</h2>
    <ul class="todo-list" ng-repeat="todo in todos track by $index">
      <li>
       <span>{{ todo.text }}</span>
        <button class="bt bt-achieve" ng-click="done(todo)">Done</button>
        <button class="bt bt-achieve" ng-click="done(todo)">Complete</button>
        <button class="bt bt-achieve" ng-click="undone(todo)">Incomplete</button>


      </li>
    </ul>

    <ul class="add-todo">
        <li>
          <input id="tod" type="text" class="txt" placeholder="New Todo"
             ng-model="todoText" ng-keyup="add($event)" />
        </li>
      </ul>
 </div>


 <script src="app.js"></script>
</body>
</html>
